body {
    margin: 0;
    position: absolute;
}
#canvasFun {
    border: 1px solid black;
    background-color: black;
}
#guiForm {
    padding: 15px;
    background-color: rgba(159, 159, 159, 0.91);
    color: darkblue;
    position: relative;
    bottom: 40vh;
    margin-top: -100px;
}
#shapeType,
#colorPalette {
    width: 100px;
}