body {
    margin: 0;
    position: relative;
}
#canvasFun {
    border: 1px solid black;
    background-color: black;
}
#guiForm {
    background-color: rgba(169, 215, 255, 0.61);
    color: darkblue;
    position: absolute;
    top: 1%;
    left: 30%;
    width: 40%;
    border-radius: 10px 5px;
}
#guiForm .flexrow {
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
#guiForm .flexcolumn {
    display: inline-flex;
    align-items: center;
}
#guiForm label {
    width: 90px;
}

button,
select,
input {
    width: 100px;
    height: 30px;
    text-align: center;
}
input,
select {
    font-size: .9em;
}


/*MEDIA QUERIES*/
@media screen and (max-width: 1200px) {
    #guiForm {
        width: 50%;
        left: 25%;
    }
    button,
    select,
    input {
        width: 90px;
    }
}
@media screen and (max-width: 800px) {
    #guiForm {
        width: 100%;
        left: 0;
    }
}